@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.conteiner{
  width: 1366px;
  margin: 0 auto;
}
header{
  height: 360px;
  background: url('img/hero-back.jpg');
}
header .logo{
  margin-left: 98px;
  margin-top: 66px;
}
.menu{
  float: right;
  margin-top: 67px;
  margin-right: 211px;
}
.menu li{
  list-style-type: none;
  float: left;
}
.menu li a{
  display: block;
  padding: 0px 20px;
  color:  #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  text-align: right;
  text-decoration: none;
}
.menu li a:hover{
  color:  #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  border-bottom: 1px solid #212121;
}
footer{
  background-color: #f7f7f7;
  height: 384px;
}
.footertext1{
  float: left;
  width: 261px;
  margin-left: 97px;
  margin-top: 120px;
}
.footertext1 p{
  color:  #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.footertext1 h3{
  color:  #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.footertext2{
  float: left;
  margin-left: 81px;
  margin-top: 120px;
}
.footertext2 h3{
  color:  #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.footertext2 a{
  color:  #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}
.ahref1{
  width: 158px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 50px;
}
.a1{
  display: block;
}
.a2{
  display: block;
}
.ahref2{
  width: 210px;
  display: inline-block;
}
.a4{
  display: block;
}
.footertext3{
  width: 370px;
  float: right;
  margin-left: 78px;
  margin-top: -25px;
}
.footertext3 h3{
  color:  #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.footertext3 p{
  color:  #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 10px;
}
.footerinput{
  border-width: 1px;
  border-color:  #d9dee1;
  border-style: solid;
  background-color:  #ffffff;
  width: 340px;
  height: 46px;
  color:  #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-left: 20px;
}
.telegram{
  float: right;
  position: absolute;
  margin-left: -40px;
  margin-top: 15px;
}
.footerinput:focus{
  border-color:  #d9dee1;
  outline: none;
}
.footertext4{
  margin-top: 90px;
  width: 362px;
  margin-left: -340px;
  color:  #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
}
.fafa{
  margin-left: 210px;
  margin-top: -27px;
  width: 130px;
}
.footertext5{
  width: 350px;
  color:  #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  float: right;
  margin-top: -30px;
}
footer h3:hover{
  color: black;
}
footer a:hover{
  text-decoration: underline;
}
.search{
  position: absolute;
  margin-left: 900px;
  margin-top: 78px;
}
.text h3{
  color:  #212121;
  font-size: 62px;/* Приближение из-за подстановки шрифтов */
  font-weight: 100;
  line-height: 72px;
}
.text{
  margin-top: 171px;
  margin-left: 101px;
}
.content{
  height: 563px;
  margin-top: 71px;
  margin-left: 98px;
}
.content1,
.content2,
.content3{
  outline: 1px solid black;
  height: 370px;
  width: 370px;
  float: left;
  margin-right: 30px;
}
.content h3{
  color:  #212121;
  font-size: 21.91px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  transform: scaleX(1.0041);
  margin-top: 34px;
  margin-left: 120px;
  position: absolute;
}
.content .img1{
  margin-left: 173px;
  margin-top: 48px;
}
.content .img2{
  margin-top: 73px;
  margin-left: 53px;
}
.block3{
  height: 683px;
  margin-top: 120px;
}
.promo1{
}
.promo{
  float: left;
}
.textpromo{
  margin-top: -411px;
  float: left;
  width: 374px;
  margin-left: 51px;
}
.textpromo2{
  float: right;
  width: 374px;
  position: relative;
  margin-right: 259px;
  margin-top: -411px;
}
.textpromo h3{
  color:  #1e88e5;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}
.textpromo h1{
  color:  #212121;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.textpromo p{
  color:  #6c6c6c;
  font-size: 13.99px;
  font-weight: 300;
  line-height: 24px;
  transform: scaleY(1.0022);
}
.textpromo a{
  background-color:  #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 46px;
  display: block;
  border-radius: 23px;
  text-decoration: none;
  color:  #212121;
  font-size: 17.99px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  transform: scaleY(1.0022);
  margin-top: 20px;
}
.textpromo a:hover{
  background: #8c8c8c url('img/arrow.png') no-repeat 165px 16px;
  color: white;
}
.textpromo2 h3{
  color:  #1e88e5;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}
.textpromo2 h1{
  color:  #212121;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.textpromo2 p{
  color:  #6c6c6c;
  font-size: 13.99px;
  font-weight: 300;
  line-height: 24px;
  transform: scaleY(1.0022);
}
.textpromo2 a{
  background-color:  #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 212px;
  height: 46px;
  display: block;
  border-radius: 23px;
  text-decoration: none;
  color:  #212121;
  font-size: 17.99px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  transform: scaleY(1.0022);
  margin-top: 20px;
}
.textpromo2 a:hover{
  background: #8c8c8c url('img/arrow.png') no-repeat 165px 16px;
  color: white;
}
.content4{

  width: 1366px;
}
.text1conteiner{
  margin-left: 107px;
  margin-top: 120px;
  width: 582px;
}
.text1conteiner h3{
  display: inline-block;
  color:  #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  padding-right: 20px;
}
.text1conteiner h3:hover{
  color:  #212121;
  font-size: 18px;
  font-weight: 700;
  background: url(img/active.png) no-repeat 0px 19px;
}
.products{
  margin-top: 50px;
  margin-left: 98px;
}
.product1,
.product2,
.product3{
    width: 370px;
    height: 370px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}
.product4,
.product5,
.product6{
    width: 370px;
    height: 370px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}
.product7,
.product8,
.product9{
    width: 370px;
    height: 370px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}
.product10,
.product11,
.product12{
    width: 370px;
    height: 370px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}
.product1{
  background: url(img/product-11.jpg)
}
.product2{
  background: url(img/product-21.jpg)
}
.product3{
  background: url(img/product-31.jpg)
}
.product4{
  background: url(img/product-41.jpg)
}
.product5{
  background: url(img/product-5.jpg)
}
.product6{
  background: url(img/product-6.jpg)
}
.product7{
  background: url(img/product-11.jpg)
}
.product8{
  background: url(img/product-21.jpg)
}
.product9{
  background: url(img/product-31.jpg)
}
.product10{
  background: url(img/product-41.jpg)
}
.product11{
  background: url(img/product-5.jpg)
}
.product12{
  background: url(img/product-6.jpg)
}
.vert{
  margin-top: 71px;
  margin-left: 672px;
}
.vert .rot{
    border-radius: 50%;
    transition: transform .8s ease-in-out;
  }
.vert .rot:hover {
            transform: rotate(360deg);
}
.header{
  height: 119px;
}
.header .logo{
  margin-left: 98px;
  margin-top: 66px;
}
.menushowroom{
    height: 70px;
      background-color:  #f4f4f4;
}
.menu2{
  margin-top: 28px;
  margin-left: 360px;
}
.menu2 li{
  list-style-type: none;
  float: left;
}
.menu2 li a{
  margin-top: 28px;
  display: block;
  padding: 0px 20px;
  color:  #6c6c6c;
  font-size: 17.99px;
  font-weight: 700;
  text-align: center;
  transform: scaleY(1.0006);
  text-decoration: none;
}
.menu2 li a:hover{
  color:  #212121;
  font-size: 17.99px;
  font-weight: 700;
  text-align: center;
}
.blockshow1{
  height: 740px;
}
.slider1{
  background: url('img/slider1.jpg');
  height: 570px;
  width: 570px;
  margin-left: 98px;
  margin-top: 72px;
  float: left;
}
.textslider1{
  width: 500px;
  height: 500px;
  margin-left: 720px;
  margin-top: -540px;
  float: left;
}
.textslider1 h3{
  color:  #212121;
  font-size: 35.98px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  transform: scaleY(1.0005);
}
.textslider1 h1{
  color:  #e53935;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 48px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  transform: scaleY(1.0005);
}
.textslider1 h2 {
  color:  #212121;
  font-size: 36px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 48px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-bottom: 31px;
}
.textslider1 a{
  background-color:  #f44336;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  width: 500px;
  height: 65px;
  display: block;
  border-radius: 30px;
  color:  #ffffff;
  font-size: 21.99px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 65px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  transform: scaleY(1.0005);
  text-decoration: none;
  margin-bottom: 49px;
}
.textslider1 a:hover{
  background: #f44336 url('img/arrow2.png') no-repeat 345px 20px;
}
.textslider1 p{
  color:  #212121;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: left;
transform: scaleY(1.0005);
}
.slider2{
  float: left;
  margin-top: 10px;
  margin-left: 270px;
}
.slider2 img{
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
.slider2 img:hover{
  outline: 1px solid black;
}
.block4text{
  color:  #212121;
  font-size: 36px;
  font-weight: 700;
  margin-left: 98px;
}
.text2conteiner{
  margin-left: 1090px;
  margin-top: -20px;
}
.text2conteiner a{
  display: block;
  color:  #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  width: 180px;
}
.text2conteiner a:hover{
  background: url('img/arrow.png') no-repeat 160px 6px;
}
.textshow1{
  margin-top: 200px;
  float: left;
}
.blockshow2{
  height: 900px;
}
.showblock1,
.showblock2,
.showblock3{
  width: 370px;
  height: 370px;
  float: left;
  margin-right: 30px;
}
.showblock1:hover,
.showblock2:hover,
.showblock3:hover{
  outline: 1px solid black;
}
.showblock{
  margin-left: 98px;
  margin-top: 71px;
  float: left;
}
.showblock1{
  background: url(img/product-11.jpg)
}
.showblock2{
  background: url(img/product-21.jpg)
}
.showblock3{
  background: url(img/product-31.jpg)
}
